table.minesweeper {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  cursor: default;
}

table.minesweeper.expert {
  width: 900px;
}

.minesweeper tr {
  padding: 0;
  border: 0;
}

.minesweeper td.tile {
  width: 29px;
  height: 29px;
  line-height: 29px;
  border: 1px solid #555;
  text-align: center;
  padding: 0;
  background-color: #EEE;
  overflow: hidden;
  font-weight: bold;
  font-size: 18px;
}

.minesweeper td.tile.flipped {
  background-color: #DDD;
  border: 1px dotted #999;
}

.minesweeper .output-1 {
  color: blue;
}

.minesweeper .output-2 {
  color: green;
}

.minesweeper .output-3 {
  color: red;
}

.minesweeper .output-4 {
  color: darkblue;
}

.minesweeper .output-5 {
  color: maroon;
}

.minesweeper .output-6 {
  color: cyan;
}

.minesweeper .output-7 {
  color: purple;
}

.minesweeper .output-8 {

}

.minesweeper .output-0 {

}

.minesweeper .output-M {
  background-image: url("../images/mine.png");
}

.minesweeper .flipped.output-M {
  background-image: url("../images/mine2.png");
}

.minesweeper .flagged {
  background-image: url("../images/flag.png");
}

.minesweeper .falseflag {
  background-image: url("../images/falseflag.png");
}

.time-counter {
  float: right;
}

.game-over {
  margin: 28px auto;
  width: 900px;
  height: 480px;
  position: absolute;
  overflow: hidden;
}

.game-over span {
  display: block;
  width: 200px;
  font-size: 28px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  opacity: 0.9;
  background-color: #fff;
  position: absolute;
  -webkit-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: 700px; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 700px; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 700px; }
}
@keyframes moveX {
  from { left: 0; } to { left: 700px; }
}
@-webkit-keyframes moveY {
  from { top: 0; } to { top: 405px; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 405px; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 405px; }
}
@keyframes moveY {
  from { top: 0; } to { top: 405px; }
}
